<div class="row">
  <div class="form-group mb-2 col-auto">
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Digite aqui"
      [(ngModel)]="filtroLista"
    />
  </div>
  <!-- <div class="form-group mb-2 col-auto">
    <button class="btn btn-outline-success">Buscar</button>
  </div> -->
</div>
<!-- btn.btn.btn-outline-success{buscar} -->
<!-- form>.form-group.mb-2>input.form-control.mr-2 -->

<h3>Filtro: {{ filtroLista }}</h3>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <td>
        <button class="btn btn-secondary btn-sm" (click)="alternarImagem()">
          Show image
        </button>
      </td>
      <td>#</td>
      <td>Tema</td>
      <td>Local</td>
      <td>Data</td>
      <td>Qtd Pessoas</td>
      <td>Lote</td>
      <td>Opções</td>
    </tr>
  </thead>
  <tbody *ngIf="eventos">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          *ngIf="mostrarImagem"
          src="http://localhost:5000/img/{{ evento.imagemURL }}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>
        <div *ngIf="!evento.lotes.length">NÃO INFORMADO</div>
        <div *ngIf="evento.lotes.length">
          {{ evento.lotes[0].nome | uppercase }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button
            class="btn btn-sm btn-success"
            tooltip="Editar"
            (click)="editModal(evento.id, templateEdit)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <h4>Não há eventos cadastrados!</h4>
  </tfoot>
</table>
<!-- table.table.table-striped>(thead.thead-dark>tr>tr*7) -->

<div
  bsModal
  #template="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Large modal
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          (click)="template.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-group row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input
                type="text"
                class="form-control"
                formControlName="tema"
                placeholder="Insira o Tema"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('tema')!.errors &&
                    registerForm.get('tema')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('tema')!.hasError('required') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                Tema obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('tema')!.hasError('minlength') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                Tema deve ter no mínimo 4 caracteres.
              </div>
              <div
                *ngIf="
                  registerForm.get('tema')!.hasError('maxlength') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                Tema deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input
                type="text"
                class="form-control"
                formControlName="local"
                placeholder="Insira o Local"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('local')!.errors &&
                    registerForm.get('local')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('local')!.hasError('required') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                Local obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('local')!.hasError('minlength') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                Local deve conter no mínimo 4 caracteres.
              </div>
              <div
                *ngIf="
                  registerForm.get('local')!.hasError('maxlength') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                Local deve ter no máximo 50 caracteres.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input
                type="text"
                class="form-control"
                formControlName="dataEvento"
                placeholder="Insira a Data e hora"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY, hh:mm a' }"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('dataEvento')!.errors &&
                    registerForm.get('dataEvento')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('dataEvento')!.hasError('required') &&
                  registerForm.get('dataEvento')!.touched
                "
                class="invalid-feedback"
              >
                Data obrigatória.
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="form-group col-md-3">
              <label>Quantidade de Pessoas</label>
              <input
                type="number"
                class="form-control"
                formControlName="qtdPessoas"
                placeholder="Insira a quantid."
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('qtdPessoas')!.errors &&
                    registerForm.get('qtdPessoas')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('qtdPessoas')!.hasError('required') &&
                  registerForm.get('qtdPessoas')!.touched
                "
                class="invalid-feedback"
              >
                Quantidade de pessoas obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('qtdPessoas')!.hasError('max') &&
                  registerForm.get('qtdPessoas')!.touched
                "
                class="invalid-feedback"
              >
                Limite máximo de pessoas: 120.000.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input
                type="text"
                class="form-control"
                formControlName="imagemURL"
                placeholder="Insira a Imagem"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input
                type="text"
                class="form-control"
                formControlName="telefone"
                placeholder="Insira o Telefone"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('telefone')!.errors &&
                    registerForm.get('telefone')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('telefone')!.hasError('required') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                Telefone obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('telefone')!.hasError('minlength') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                Telefone deve conter no mínimo 10 dígitos.
              </div>
              <div
                *ngIf="
                  registerForm.get('telefone')!.hasError('maxlength') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                Telefone deve conter no máximo 11 dígitos.
              </div>
            </div>
            <div class="form-group col-md-8">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Insira o e-mail"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('email')!.errors &&
                    registerForm.get('email')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('email')!.hasError('required') &&
                  registerForm.get('email')!.touched
                "
                class="invalid-feedback"
              >
                E-mail obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('email')!.hasError('email') &&
                  registerForm.get('email')!.touched
                "
                class="invalid-feedback"
              >
                E-mail em formato inválido.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!registerForm.valid"
          (click)="salvarAlteracao(template)"
        >
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #templateEdit="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Editar evento
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          (click)="templateEdit.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-group row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input
                type="text"
                class="form-control"
                formControlName="tema"
                load="teste"
                placeholder="Insira o Tema"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('tema')!.errors &&
                    registerForm.get('tema')!.touched
                }"
              />

              <div
                *ngIf="
                  registerForm.get('tema')!.hasError('required') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                Tema obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('tema')!.hasError('minlength') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                Tema deve ter no mínimo 4 caracteres.
              </div>
              <div
                *ngIf="
                  registerForm.get('tema')!.hasError('maxlength') &&
                  registerForm.get('tema')!.touched
                "
                class="invalid-feedback"
              >
                Tema deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input
                type="text"
                class="form-control"
                formControlName="local"
                placeholder="Insira o Local"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('local')!.errors &&
                    registerForm.get('local')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('local')!.hasError('required') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                Local obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('local')!.hasError('minlength') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                Local deve conter no mínimo 4 caracteres.
              </div>
              <div
                *ngIf="
                  registerForm.get('local')!.hasError('maxlength') &&
                  registerForm.get('local')!.touched
                "
                class="invalid-feedback"
              >
                Local deve ter no máximo 50 caracteres.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input
                type="text"
                class="form-control"
                formControlName="dataEvento"
                placeholder="Insira a Data e hora"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY, hh:mm a' }"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('dataEvento')!.errors &&
                    registerForm.get('dataEvento')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('dataEvento')!.hasError('required') &&
                  registerForm.get('dataEvento')!.touched
                "
                class="invalid-feedback"
              >
                Data obrigatória.
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="form-group col-md-3">
              <label>Quantidade de Pessoas</label>
              <input
                type="number"
                class="form-control"
                formControlName="qtdPessoas"
                placeholder="Insira a quantid."
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('qtdPessoas')!.errors &&
                    registerForm.get('qtdPessoas')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('qtdPessoas')!.hasError('required') &&
                  registerForm.get('qtdPessoas')!.touched
                "
                class="invalid-feedback"
              >
                Quantidade de pessoas obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('qtdPessoas')!.hasError('max') &&
                  registerForm.get('qtdPessoas')!.touched
                "
                class="invalid-feedback"
              >
                Limite máximo de pessoas: 120.000.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input
                type="text"
                class="form-control"
                formControlName="imagemURL"
                placeholder="Insira a Imagem"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input
                type="text"
                class="form-control"
                formControlName="telefone"
                placeholder="Insira o Telefone"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('telefone')!.errors &&
                    registerForm.get('telefone')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('telefone')!.hasError('required') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                Telefone obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('telefone')!.hasError('minlength') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                Telefone deve conter no mínimo 10 dígitos.
              </div>
              <div
                *ngIf="
                  registerForm.get('telefone')!.hasError('maxlength') &&
                  registerForm.get('telefone')!.touched
                "
                class="invalid-feedback"
              >
                Telefone deve conter no máximo 11 dígitos.
              </div>
            </div>
            <div class="form-group col-md-8">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Insira o e-mail"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('email')!.errors &&
                    registerForm.get('email')!.touched
                }"
              />
              <div
                *ngIf="
                  registerForm.get('email')!.hasError('required') &&
                  registerForm.get('email')!.touched
                "
                class="invalid-feedback"
              >
                E-mail obrigatório.
              </div>
              <div
                *ngIf="
                  registerForm.get('email')!.hasError('email') &&
                  registerForm.get('email')!.touched
                "
                class="invalid-feedback"
              >
                E-mail em formato inválido.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-secondary" (click)="templateEdit.hide()">
          Fechar
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!registerForm.valid"
          (click)="salvarAlteracao(templateEdit)"
        >
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>
